/* body{
    background-color: aquamarine;
}
.container{
    background-color: blue;
    width: 50%;
    margin: 60px auto;
    display: block;
}
.header{
    font-size: 50px;
    color: yellow;
}
.inp{
    margin: 20px auto;
    font-size: 20px;
    border-radius: 8px;
}
.bttn{
    background-color: green;
    margin-left:10px;
     margin-bottom: 8.5px; 
    font-size: 20px;
    border-radius: 8px;
    
}

.hem{
    font-size: 20px;
    text-align: center;
    background-color: azure;
}

.hemraj{
    padding: 20px;
    margin-top: -25px;
} */

